* {
  margin: 0;
  padding: 0;
}

.menu-container {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
}

.menu {
  width: 100%;
  color: grey;
  font-family: "Open Sans";
}

.links {
  display: flex;
  justify-content: flex-end;
}

.post {
  padding-left: 50px;
  padding-right: 50px;
}
.post-trigger:hover {
  color: lightgrey;
}

.sign-in {
  padding-left: 50px;
  padding-right: 50px;
}

.sign-in-trigger:hover {
  color: lightgrey;
}

.sign-up-trigger:hover {
  color: lightgrey;
}

.header-container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-test {
  display: flex;
  justify-content: center;
}

.carousel-grid-container {
  display: flex;
  justify-content: center;
}

.carousel-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero {
  width: 100%;
  display: block;
  margin: 0 auto;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: "Open Sans", Arial;
  width: 100%;
}
main {
  background: white;
  width: 100%;
  margin: 20px auto;
}

#toggle {
  display: none;
  visibility: hidden;
}

label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s;
  background-color: #F47A6A;
  color: white;
}

#toggle:checked ~ #expand {
  height: 200px;
}

footer {
  margin-top: 20px;
  background-color: #F47A6A;
  text-align: right;
  color: grey;
  text-align: center;
  position: absolute;
  width: 100%; 
  height: 100px;
  display: flex;
}

input {
  margin: .4rem;
}

.filterbutton {
  margin-bottom: -0.2px;
  padding: 0px;
  width: 150px;
  display: block;

}

.filterbutton img{
  display: block;
}

.swiper-container {
width: 100%;
height: 100%;
background-color: white;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background:white;
box-shadow: 0 4px 15px -5px gray;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

/* Sign in modal css */

.sign-in-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 999999;
}
.sign-in-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.sign-in-close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.sign-in-close-button:hover {
  background-color: darkgray;
}
.sign-in-show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Sign up modal css */

.sign-up-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 999999;
}
.sign-up-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.sign-up-close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.sign-up-close-button:hover {
  background-color: darkgray;
}
.sign-up-show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Post modal css */

.post-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 999999;
}
.post-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.post-close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.post-close-button:hover {
  background-color: darkgray;
}
.post-show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}